[Unit]
Description=Rclone Mount for Remote Onedrive
Documentation=https://rclone.org/docs/
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStartPre=/bin/mkdir -p /home/ishan/CloudStorages/Onedrive
ExecStart=/usr/bin/rclone mount OneDrive: /home/ishan/CloudStorages/Onedrive \
    --config=/home/ishan/.config/rclone/rclone.conf \
    --allow-other \
    --allow-non-empty \
    --vfs-cache-mode full
ExecStop=/bin/fusermount -u /home/ishan/CloudStorages/Onedrive
Restart=on-failure
User=ishan
Group=ishan
Environment=PATH=/usr/bin:/bin
TimeoutStopSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target

